article{
	background: greenyellow;
	border: 2px solid black;
	color: black;
	margin:  20px 5px;
	padding: 15px;
	text-align: center;
	width: 400px;
	/* todo el camino 5segundosTiempo manera*/
	-o-transition: all 1s linear;
	-webkit-transition: all 5s linear;
	-ms-transition: all 5s linear;
	-moz-transition: all 5s linear;
	transition: all 5s linear;
}

article p{
	font: 30px Tahoma;
	font-weight: bold;
	width: 100%
}
/*article:hover{
	height: 400px;
	width: 800px;
}
*/
article:hover {
	background: black;
	color: greenyellow;
	-o-transform:   skew(-10deg,10deg);  /*scale(3.5);   rotate(360deg);translate(150px,300px);*/
	-ms-transform:    skew(-10deg,10deg) ;  /*scale(3.5);   rotate(360deg);  translate(150px,300px);*/	
	-webkit-transform:   skew(-10deg,10deg);   /*scale(3.5);   rotate(360deg);  translate(150px,300px);*/	
	-moz-transform:    skew(-10deg,10deg);   /* scale(3.5);  rotate(360deg);  translate(150px,300px);*/	
	transform:  skew(-10deg,10deg)  scale(.5)    rotate(360deg) translate(150px,300px);
}
